@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --font-fam: 'Poppins', sans-serif;

    --fw-light: 200;
    --fw-medium: 400;
    --fw-bold: 600;

    --fs-400: 0.9rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 3rem;

    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);
    --clr-text-1st: hsl(234, 12%, 34%);
    --clr-text-2nd: hsl(229, 6%, 66%);
    --clr-bg: hsl(0, 0%, 98%);
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

img {
    max-width: 100%;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: var(--font-fam);
    background-color: var(--clr-bg);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 70rem;
    margin: 1rem;
}



/* SECTION 1 */
.section-1 {
    display: grid;
    gap: .8rem;
    place-items: center;
    text-align: center;
}

.section-1 div {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-800);
    color: var(--clr-text-1st);
}

.section-1 div .title {
    font-weight: var(--fw-light);
    font-size: var(--fs-700);
}

.section-1 div .subtitle {
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);

}

.section-1 .text {
    max-width: 34rem;
    font-weight: var(--fw-medium);
    color: var(--clr-text-2nd);
    font-size: var(--fs-400);
}



/* SECTION 2 */

/* Layout */
.section-2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.info-container.n1 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.info-container.n2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.info-container.n3 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.info-container.n4 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}


/* Styles */
.info-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(117, 117, 117, 0.219);
}

.info-container .top-line {
    height: 4px;
    width: 100%;
    background-color: red;
}

.info-container .top-line.l1 {
    background-color: var(--clr-cyan);
}

.info-container .top-line.l2 {
    background-color: var(--clr-red);
}

.info-container .top-line.l3 {
    background-color: var(--clr-orange);
}

.info-container .top-line.l4 {
    background-color: var(--clr-blue);
}

.info-box {
    padding: 1.5rem 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.info-box img {
    align-self: flex-end;
    margin-top: 1.5rem;
}

.info-box .info-title {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    color: var(--clr-text-1st);
}

.info-box .text {
    font-size: .9rem;
    font-weight: var(--fw-medium);
    color: var(--clr-text-2nd);
}



/* MEDIA QUERYS */
@media (max-width: 850px) {
    main {
        margin: 4rem 1.5rem;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .section-1 div .title {
        font-weight: var(--fw-light);
        font-size: var(--fs-600);
    }
    
    .section-1 div .subtitle {
        font-weight: var(--fw-bold);
        font-size: var(--fs-600);
    
    }
}